@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Cutive Mono", monospace;
}

.wrapper {
  text-align: center;
}

.hidden {
  display: none;
}


#alphabet {
  display: none;
  flex-wrap: wrap;
  width: 500px;
  margin: 2rem auto;   
}
  
#alphabet li {
  margin: auto;
  list-style: none;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  background: none;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

  
#alphabet li:hover {
  background: linear-gradient(135deg, rgb(255, 102, 102), rgb(197, 8, 8));
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  font: rgb(223, 222, 222);
}
  

.fireworks {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 15%;
}

table tr {
  font-weight: bold;
  font-size: 1rem;
  
}