@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: "Cutive Mono", monospace;
}

.wrapper {
  text-align: center;
}

.hidden {
  display: none;
}
 img {
  max-width:300px;
  max-height:300px;
  margin: 0 auto;
 }
 h3 {
  @apply font-semibold text-slate-950 dark:text-slate-400;
 }
 button {
  @apply
  text-center transition duration-1000 ease-in-out border-2 rounded-lg dark:text-slate-400 text-slate-950 border-slate-950 hover:bg-slate-300 dark:border-slate-400 dark:hover:text-slate-950 dark:hover:bg-slate-700;
 }


#alphabet {
  display: none;
  grid-template-columns: repeat(13, 1fr);
  gap: 1rem;
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;   
}
  
#alphabet li {
  @apply dark:text-slate-400 text-slate-950;
  margin: auto;
  list-style: none;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  background: none;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

  
#alphabet li:hover {
  @apply bg-slate-300 text-slate-950 dark:bg-slate-700 dark:text-slate-950;
  /*background: linear-gradient(135deg, rgb(255, 102, 102), rgb(197, 8, 8));*/
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

p {
  @apply dark:text-slate-400 text-slate-950
}

@media (max-width: 640px) {
  #alphabet {
    grid-template-columns: repeat(7, 1fr);
  }
  #alphabet li {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
  }
}


  

.fireworks {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 15%;
}



